@import url("https://fonts.googleapis.com/css?family=Roboto");
@import "./base/reset";
@import "./utils/variables";
@import "./base/buttons";
@import "./base/form";
@import "./base/video";
@import "./base/work";
@import "./base/contact";
@import "./base/footer";

html {
  overflow-x: hidden;
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  width: 100%;
  padding: 25px;
  line-height: 1.5;
  color: $greyColor01;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

.text-center,
.social-wrap,
h2,
h3,
.nav-main {
  text-align: center;
}

.arrow {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  &:hover {
    -webkit-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}

/* LAYOUT  */
header {
  position: relative;
  background: url("https://image.ibb.co/jBXfxA/bg-contact.jpg") no-repeat center center/cover;
  color: $whiteColor01;
  padding: 15% 0 0 0;
  min-height: 650px;
}

.title-main,
h1 {
  line-height: 1.2;
  font-size: 30px;
  font-size: 1.875rem;
}

.title-main span,
h1 span {
  display: block;
}

.title-main span:last-child,
h1 span:last-child {
  font-size: 23px;
  font-size: 1.4375rem;
}

.title-sub {
  font-size: 48px;
  font-size: 3rem;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    display: block;
    width: 82px;
    height: 3px;
    left: -webkit-calc(50% - 41px);
    left: calc(50% - 41px);
    bottom: -10px;
    background: $whiteColor01;
  }
}

.title-blurb {
  padding: 40px 0;
  span {
    display: block;
    line-height: 25px;
  }
}

.menu {
  color: $greyColor01;
  background: $whiteColor01;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  line-height: 40px;
  vertical-align: middle;
  padding: 10px;
  border-bottom: 2px solid rgba(104, 104, 104, 0.1);
}

h1 {
  font-size: 22px;
  font-size: 1.375rem;
  display: inline-block;
}

.nav-toggle {
  display: inline-block;
  float: right;
  width: 40px;
  height: 40px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  div {
    display: block;
    width: 40px;
    height: 3px;
    margin-top: 7px;
    background-color: $greyColor01;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  &:hover {
    opacity: 0.7;
  }
}

.nav-main {
  display: none;
  clear: both;
  background: $whiteColor01;
  a {
    position: relative;
    text-decoration: none;
    padding-bottom: 2px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    display: block;
    width: 100%;
    padding: 20px 0;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 4px;
      width: 100%;
      background-color: $lightRedColor;
      -webkit-transform: scale(0, 1);
      -ms-transform: scale(0, 1);
      -o-transform: scale(0, 1);
      transform: scale(0, 1);
      -webkit-transform-origin: 0 50%;
      -ms-transform-origin: 0 50%;
      -o-transform-origin: 0 50%;
      transform-origin: 0 50%;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
    }
    &:hover {
      color: $lightRedColor;
      font-weight: bold;
      &::before {
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
      }
    }
  }
}

@media (min-width: 500px) {
  .caption-blurb {
    font-size: 18px;
    font-size: 1.125rem;
  }
}

@media (min-width: 768px) {
  header {
    min-height: 95vh;
    padding-top: 14em;
  }

  .figure-sm {
    width: 48%;
    display: block;
    float: left;
    &.one {
      margin-left: 4%;
    }
  }
}

@media (min-width: 992px) {
  .nav-toggle {
    display: none;
  }

  .nav-main {
    display: block;
    float: right;
    width: 70%;
    ul {
      text-align: right;
    }
    li {
      display: inline-block;
      margin-left: 40px;
    }
    a {
      text-transform: uppercase;
      padding: 0;
    }
  }

  .work-column-lg {
    display: block;
    width: 61.5%;
    float: left;
  }

  .work-column-sm {
    display: block;
    width: 35.5%;
    float: left;
    margin-left: 3%;
    img {
      height: auto;
    }
  }

  form {
    padding-bottom: 40px;
    p {
      display: inline-block;
      float: left;
    }
    .button-send {
      float: right;
      margin-top: 0;
    }
  }

  .text-center form p,
  h2 form p,
  h3 form p,
  .nav-main form p {
    margin-top: 10px;
  }
}