@import url("https://fonts.googleapis.com/css?family=Roboto");
@import "./base/reset";
@import "./base/layout/layout_main";
@import "./utils/variables";
@import "./base/buttons";
@import "./base/form";
@import "./base/video";
@import "./base/work";
@import "./base/contact";
@import "./base/layout/layout_footer";

html {
  overflow-x: hidden;
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  width: 100%;
  padding: 25px;
  line-height: 1.5;
  color: $greyColor01;
}